name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
        - name: Build example1 image
      run: docker build -f example1/Dockerfile -t my-image-example1:$(date +%s) example1

    - name: Build example2 image
      run: docker build -f example2/Dockerfile -t my-image-example2:$(date +%s) example2
